<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bulma/css/bulma.css')}}">
  </head>
  <body>
<section class="section">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <h2>GSCRL Arena Controls</h2>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Arena Controls
            </a>
      
        
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Visual Screens
              </a>
      
              <div class="navbar-dropdown">
                <a href="/screens/red" class="navbar-item">
                  Red Control
                </a>
                <a href="screens/blue" class="navbar-item">
                  Blue Control
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Fullscreen Timer
                </a>
                <a class="navbar-item">
                  Refs
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
</section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>
  </body>
</html>