<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GSCRL Arena & Timing Systems</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bulma/css/bulma.css')}}">
    
  </head>
  <body>
    {% if autoreload %}
    <script>
      setTimeout(function(){ location.reload(); }, {{autoreload}});
      </script>
    {% endif %}

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1><b>GSCRL Controls</b></h1>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Match Control
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Team Screens
            </a>
    
            <div class="navbar-dropdown">
              <hr class="navbar-divider">
              <a href="screens/timervertical/red" class="navbar-item">
                Vertical Timer Red
              </a>
              <a href="screens/timervertical/blue" class="navbar-item">
                Vertical Timer Blue
              </a>
              <hr class="navbar-divider">
              <a href="screens/timer" class="navbar-item">
                Fullscreen Timer
              </a>
              <a class="navbar-item" href="judges">
                Judges
              </a>
            </div>
          </div>

          <a href="/upcoming?autoreload=30000" class="navbar-item">
            Upcoming Matches
          </a>

          <a href="/lastmatches?autoreload=30000" class="navbar-item">
            Last Matches
          </a>

        </div>
      </div>
    </nav>

<script>
   document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
  el.addEventListener('click', () => {

    // Get the target from the "data-target" attribute
    const target = el.dataset.target;
    const $target = document.getElementById(target);

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});

});
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('test_connect', {data: 'I\'m connected!'});
    });

    
    
</script>

    {% block bodysections %}

    {% endblock %}

    {# Safety for flashing during a 500 err. #}
    {% if errormsg %}
      <h1 class="title is-1">:(</h1>
      <h3 class="title is-2">{{ errormsg }}</h3>
    {% endif %}
  </body>
</html>