<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GSCRL Arena & Timing Systems</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bulma/css/bulma.css')}}">
    
  </head>
  <body>
    {% if autoreload %}
    <script>
      setTimeout(function(){ location.reload(); }, {{autoreload}});
      </script>
    {% endif %}

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1><b>GSCRL Controls</b></h1>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Match Control
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Team Screens
            </a>
    
            <div class="navbar-dropdown">
              <a href="/screens/red" class="navbar-item">
                Red Control
              </a>
              <a href="screens/blue" class="navbar-item">
                Blue Control
              </a>
              <hr class="navbar-divider">
              <a href="screens/timervertical/red" class="navbar-item">
                Vertical Timer Red
              </a>
              <a href="screens/timervertical/blue" class="navbar-item">
                Vertical Timer Blue
              </a>
              <hr class="navbar-divider">
              <a href="screens/timer" class="navbar-item">
                Fullscreen Timer
              </a>
              <a class="navbar-item">
                Judges
              </a>
            </div>
          </div>

          <a href="/upcoming" class="navbar-item">
            Upcoming Matches
          </a>

          <a href="/lastmatches" class="navbar-item">
            Last Matches
          </a>

        </div>
      </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('test_connect', {data: 'I\'m connected!'});
    });
</script>

    {% block bodysections %}

    {% endblock %}
  </body>
</html>