{% extends "base.html" %}

{% block bodysections %}
<script src="{{url_for('static', filename='easytimer.min.js')}}"></script>
    
<script>
  var timerInstance = new easytimer.Timer();

timerInstance.start({countdown: true, startValues: {seconds: 150.5}, precision: 'secondTenths' });
timerInstance.pause();

timerInstance.addEventListener('secondTenthsUpdated', function (e) {
  swapHeartbeatSignStatus();  
  var time_in_seconds = (timerInstance.getTimeValues().seconds + (timerInstance.getTimeValues().minutes * 60)).toString();
  setTimerPageTimer(time_in_seconds);
  socket.emit("timer_event", time_in_seconds);
});

function setTimerPageTimer(timer_value) {
  document.getElementById("timer_control_counter").innerHTML = timer_value;
}

function swapHeartbeatSignStatus() {
  if (document.getElementById("heartbeat_button_id").classList.contains("is-danger"))
   {
    document.getElementById("heartbeat_button_id").classList = "is-large button";
   }
  else {
    document.getElementById("heartbeat_button_id").classList.add("is-danger");
  }
}

/* Timer Control Stubs */
function startTimer() {
  timerInstance.start({countdown: true, startValues: {seconds: 150, secondTenths:9}, precision: 'secondTenths' });
  socket.emit("timer_bg_event", "black"); //controls the judges timer background.
}

function readyTimer() {
  timerInstance.start({countdown: true, startValues: {seconds: 150.5}, precision: 'secondTenths' });
  timerInstance.pause();
  socket.emit("timer_event", "150");
  resetBG();
}
function pauseTimer() {
  timerInstance.pause();
}

function resetBG() {
  socket.emit("timer_bg_event", "black");
}

function stopTimer() {
  resetTeamReadies();
  timerInstance.stop();
  document.getElementById("timer_control_counter").innerText = "150";
  socket.emit("timer_event", "150")
  timerInstance.start({countdown: true, startValues: {seconds: 150, secondTenths:9}, precision: 'secondTenths' });
  pauseTimer();
}

function eSTOP() {
  stopTimer();
  resetTeamReadies();
  socket.emit("timer_event", "STOP");
  socket.emit("timer_bg_event", "red");
}

// changes the state of the readies for next.
function resetTeamReadies() {
  resetTeamReadyButtons();
  document.getElementById("redisready").innerText = "[NO]";
  document.getElementById("blueisready").innerText = "[NO]";
}

// set the timer display for ready / not ready.  just an indicator status.
socket.on("control_player_ready_event", (station_info) => {
  if (station_info.station === "red") {
      document.getElementById("redisready").innerText = "[YES]";
  }

  if (station_info.station === "blue") {
      document.getElementById("blueisready").innerText = "[YES]";
  }
});

// in the event of a tapout, tell arena controls who wins automagically.
socket.on("control_player_tapout_event", (station_info) => {
  stopTimer();

  if (station_info.station === "red") {
      document.getElementById("redisready").innerText = "[TAPOUT]";
      document.getElementById("blueisready").innerText = "[WIN]";
      socket.emit("timer_event", "TAPOUT<br>BLUE WINS");
      socket.emit("timer_bg_event", "blue");
  }

  if (station_info.station === "blue") {
      document.getElementById("blueisready").innerText = "[TAPOUT]";
      document.getElementById("redisready").innerText = "[WIN]";
      socket.emit("timer_event", "TAPOUT<br>RED WINS");
      socket.emit("timer_bg_event", "red");
  }
});

function resetTeamReadyButtons() {
  socket.emit("reset_screen_states");
}

</script>

<section class="section">
    <div class="container">
      <h1 class="title">
        Match Timer
      </h1>
      <p class="subtitle">
        (only one instance of this page can be open)
      </p>
    </div>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column">

        <div class="block">
          <button id="heartbeat_button_id" class="button is-large is-danger" disabled>[HB]</button>
          <button id="timer_control_counter" class="button is-large is-dark">000</button>
          <button class="button is-large" onclick="startTimer();">Start</button>
          <button class="button is-large" onclick="pauseTimer();">Pause</button>
          <button class="button is-large"  onclick="stopTimer();">Stop</button>
          <br><br><br>
          <button class="button is-large"  onclick="eSTOP();">EMERGENCY STOP</button>
          <button class="button is-large" onclick="readyTimer();">Ready Timer (set to 150)</button>
          <button class="button is-large" onclick="resetBG();">reset bg</button>
        </div>

      </div>
      <div class="column">
        <h2 class="title">Ready States</h2>
        <h3 class="title">Red: <span id="redisready">[NO]</span></h3>
        <h3 class="title">Blue: <span id="blueisready">[NO]</span></h3>
      </div>
  </section>

{% endblock %}