{% extends "base.html" %}

{% block bodysections %}
<script src="{{url_for('static', filename='easytimer.min.js')}}"></script>
    
<script>

  var timerInstance = new easytimer.Timer({countdown: true, startValues: {seconds: 150.9}, precision: 'secondTenths' });
  var countdownTimer = new easytimer.Timer({countdown: true, startValues: {seconds: 4.5}, precision: 'secondTenths' });

timerInstance.start();
timerInstance.pause();
countdownTimer.start();
countdownTimer.pause();

countdownTimer.addEventListener('targetAchieved', function (e) {
  timerInstance.start();
});

countdownTimer.addEventListener('secondTenthsUpdated', function (e) {
  swapHeartbeatSignStatus();  
  var time_in_seconds = (countdownTimer.getTimeValues().seconds + (countdownTimer.getTimeValues().minutes * 60)).toString();
  setTimerPageTimer(time_in_seconds);
  socket.emit("timer_event", time_in_seconds);
});

timerInstance.addEventListener('secondTenthsUpdated', function (e) {
  swapHeartbeatSignStatus();  
  var time_in_seconds = (timerInstance.getTimeValues().seconds + (timerInstance.getTimeValues().minutes * 60)).toString();
  setTimerPageTimer(time_in_seconds);
  socket.emit("timer_event", time_in_seconds);
});

function setTimerPageTimer(timer_value) {
  document.getElementById("timer_control_counter").innerHTML = timer_value;
}

function swapHeartbeatSignStatus() {
  if (document.getElementById("heartbeat_button_id").classList.contains("is-danger"))
   {
    document.getElementById("heartbeat_button_id").classList = "is-large button";
   }
  else {
    document.getElementById("heartbeat_button_id").classList.add("is-danger");
  }
}

/* Timer Control Stubs */
function startTimer() {
  countdownTimer.start();
  socket.emit("timer_bg_event", "black"); //controls the judges timer background.
  socket.emit("timer_event", "150");
}

function readyTimer() {
  timerInstance.start();
  timerInstance.pause();
  socket.emit("timer_event", "150");
  resetBG();
}
function pauseTimer() {
  timerInstance.pause();
}

function resetBG() {
  socket.emit("timer_bg_event", "black");
}

function stopTimer() {
  resetTeamReadies();
  document.getElementById("timer_control_counter").innerText = "150";
  socket.emit("timer_event", "150")
  timerInstance.stop();
  timerInstance.start();
  pauseTimer();
}

function eSTOP() {
  stopTimer();
  resetTeamReadies();
  socket.emit("timer_event", "STOP");
  socket.emit("timer_bg_event", "red");
}

// changes the state of the readies for next.
function resetTeamReadies() {
  resetTeamReadyButtons();
  document.getElementById("redisready").innerText = "NOT READY";
  document.getElementById("blueisready").innerText = "NOT READY";
}

// set the timer display for ready / not ready.  just an indicator status.
socket.on("control_player_ready_event", (station_info) => {
  if (station_info.station === "red") {
      document.getElementById("redisready").innerText = "[YES]";
  }

  if (station_info.station === "blue") {
      document.getElementById("blueisready").innerText = "[YES]";
  }
});

// in the event of a tapout, tell arena controls who wins automagically.
socket.on("control_player_tapout_event", (station_info) => {
  stopTimer();
  if (station_info.station === "red") {
      document.getElementById("redisready").innerText = "[TAPOUT]";
      document.getElementById("blueisready").innerText = "[WIN]";
      socket.emit("timer_event", "TAPOUT<br>BLUE WINS");
      socket.emit("timer_bg_event", "blue");
  }

  if (station_info.station === "blue") {
      document.getElementById("blueisready").innerText = "[TAPOUT]";
      document.getElementById("redisready").innerText = "[WIN]";
      socket.emit("timer_event", "TAPOUT<br>RED WINS");
      socket.emit("timer_bg_event", "red");
  }
});

function resetTeamReadyButtons() {
  socket.emit("reset_screen_states");
}

function sendTimerMessage() {
  socket.emit("timer_event", (document.getElementById("sendmessagebox").value).replace("!", "¦").replace(" ", "!"));
  // This is to reformat the string on the fly to comply with the DSEG14 oddities.
  // still worth it - k.
  // https://www.keshikan.net/fonts-e.html
}

</script>

<section class="section">
    <div class="container">
      <h1 class="title">
        Match Timer
      </h1>
      <p class="subtitle">
        (only one instance of this page can be open)
      </p>
    </div>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column">

        <div class="block">
          <div class="buttons has-addons">
            <button class="button is-danger is-light is-large" id="redisready">NOT READY</button>
            <button id="heartbeat_button_id" class="button is-large is-danger" disabled>[HB]</button>
            <button class="button is-info is-light is-large" id="blueisready">NOT READY</button>
            </div>
        </div>

        <div class="block">
          <div class="buttons has-addons">
            <button id="timer_control_counter" class="button is-large is-dark">000</button>
            <button class="button is-large" onclick="startTimer();">Start▶️</button>
            <button class="button is-large" onclick="pauseTimer();">Pause⏸️</button>
            <button class="button is-large"  onclick="stopTimer();">Stop⏹️</button>
          </div>
        </div>

        <div class="block">
          <div class="buttons has-addons">
            <button class="button is-large is-danger is-light is-rounded"  onclick="eSTOP();">EMERGENCY STOP</button>
            <button class="button is-large" onclick="readyTimer();" hover="Set timer to 150s">Ready Timer</button>
            <button class="button is-large is-warning is-light is-rounded" onclick="resetBG();">reset bg</button>
          </div>
        </div>

        <div class="block">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" id="sendmessagebox" type="text" placeholder="message">
            </p>
            <p class="control">
              <a class="button is-info" onclick="sendTimerMessage();">
                send ->
              </a>
            </p>
          </div>

        </div>
      </div> <!-- column end -->
  </section>

{% endblock %}