{% extends "base.html" %}

{% block bodysections %}

<section class="hero is-info">
  <div class="hero-body">

    <p class="title">
      Upcoming Matches
    </p>
    {% if event_name %}
    <p class="subtitle">
      {{ event_name }} | bracket powered by <b>TrueFinals</b>
    </p>
    {% endif %}

  </div>

    {# This snippet is only applicable to multi-arena events.  This should avoid stuff breaking too egregiously. #}
    {% if cages|length > 1 %}
    <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>[All Cages]</a>
          </li>
          {# Iterate over all additional cages in the event we have more than 1. #}
          {% for cage in cages %}
            <li><a>{{ cage.name }} ({{ cage.id }})</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
  {% endif %}
</section>

<section class="section">
    {% if div_matches._matches %}
    <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            {% if cages %}
              <th>Cage</th>
            {% endif %}
            <th>Division</th>
            <th>Bracket Round</th>
            <th>Match Info</th>
            <th>Red</th>
            <th>Blue</th>
          </tr>
        </thead>
        <tbody>
          {% for match in div_matches._matches %}
          <tr>
            {% if cages %}
            <td>Cage NULL</td>
            {% endif %}
            <td>{{ match.weightclass }} </td>
            <td>{{ match.round+1 }} </td>
            <td>{{ match.name }}</td>
            {% if match.state != "unavailable" %}
              {% for competitor in match.slots %}
              <td>
                  <b>{{ competitor.gscrl_player_name }}</b> 
                  {% if competitor['gscrl_wlt'] %}
                    <div class="field is-grouped is-grouped-multiline">
                      <div class="control">
                      <div class="tags has-addons">
                        <span class="tag">Wins</span>
                        <span class="tag is-success is-light">{{ competitor['gscrl_wlt']['w'] }}</span>
                      </div>
                    </div>

                    <div class="control">
                      <div class="tags has-addons">
                        <span class="tag">Losses</span>
                        <span class="tag is-danger is-light">{{ competitor['gscrl_wlt']['l'] }}</span>
                      </div>
                    </div>

                      <div class="control">
                      <div class="tags has-addons">
                        <span class="tag">Ties</span>
                        <span class="tag is-warning is-light">{{ competitor['gscrl_wlt']['t'] }}</span>
                      </div>
                    </div>
                  </div>
                {% endif %}
                </td>
              {% endfor %} <!-- closes competitor loop -->

              {# Fancy catchall for unfinished / partially filled match. #}
              {% if match.slots|length == 1 %} 
              <td>
                <i>waiting . . . </i>
              </td>
              {% endif %} <!-- closes out catchall for partially filled matches. -->

            {% else %} <!-- catching for if a match has zero slots filled yet. -->
            <td colspan=2>
              <i>waiting . . . </i>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                <div class="tags has-addons">
                  <span class="tag">Advances from {{ match.weightclass }}</span>
                  {% for slot in match.slots %}
                  <span class="tag is-success is-light">{{ slot.prevGameID}}</span>
                  {% endfor %}
                </div>
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

        {% else %}
        <p>There are no matches in the system yet to be marked as unfinished.  Either the event is done or the event has yet to start.</p>
        <p> Hang tight!</p>
    {% endif %}
  </section>

{% endblock %}