{% extends "screen_base.html" %}
{% block basecontent %}
 
<style>
    body {
        font-family: GlacialIndifference;
        background-color:rgb(37, 37, 37);
        margin: 0; /* this prevents a small bleed on the screen I guess? */
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .timer {
        font-family: DSEG14;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .tophalf {
        width: 100%;
        max-height:100%;
        height:80%;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }

    .bottomhalf {
        height:20vh;
        overflow-x: hidden;
        display: flex;
    }

    /* CSS Button for teams to press */
    .fancybutton {
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: clamp(1rem, 4cqi, 10rem);
        font-family: GlacialIndifference;
        font-weight: 600;
        width: calc((1/3) * 100vw);
        height: 20vh;
    }

     .redready {
        background-color: red;
     }

     .blueready {
        background-color: blue;
     }

     .eSTOP {
        background-color: orange;
     }

    </style>

<script> //user interaction stubs.
    var cageID = {{ cageID }};

    function generateTimerMessage(message) {
    return {
        'cageID': cageID,
        'message': message
    };
    }

    function generateBackgroundMessage(color) {
    return {
        'color': color,
        'cageID':cageID
    }
    }

    function readyup(botColor) {
        socket.emit('player_ready', {'playerColor': botColor, "cageID": {{ cageID }} });

        if (botColor === "red") {
            document.getElementById("setredready").innerText = "RED READY";
        }

        if (botColor === "blue") {
            document.getElementById("setblueready").innerText = "RED READY";
        }

    }

    function eSTOP() {
        socket.emit("timer_event", generateTimerMessage("STOP"));
        socket.emit("timer_bg_event", generateBackgroundMessage("red"));
    }

</script>


<div class="tophalf">
    <div class="timer" id="timer">
        000
    </div>
  </div>

  <div class="bottomhalf">
            <button id="setredready" onclick="readyup('red')" class="fancybutton redready" style=>SET RED READY</button>
            <button id="eSTOPButton" onclick="eSTOP()" class="fancybutton eSTOP" style=>eSTOP</button>
            <button id="setblueready" onclick="readyup('blue')" class="fancybutton blueready">SET BLUE READY</button>
</div>

    
<script>
    function setTimerString(timer_value) {
        document.getElementById("timer").innerHTML = timer_value;
        textFit(document.getElementsByClassName('timer'), {alignHoriz: true, maxFontSize: 600, widthOnly: true, detectMultiLine: false});
    };

</script>

<script type="text/javascript" charset="utf-8">
    socket.on('connect', function() {
    setTimerString("000"); // should fix broken scaling for only loading once the window is rendered otherwise.  Yipee?  
    });

socket.emit("join_cage_request", {'cage_id': {{ cageID }} }
)

socket.on("timer_event", function(timer_data) {
    setTimerString(timer_data);
});

socket.on("timer_bg_event", function(timer_bg_color) { //used for eSTOP only?
        document.getElementsByTagName("body")[0].style.backgroundColor = timer_bg_color;
    });

socket.on("reset_screen_states", function() {
        document.getElementById("setredready").innerText = "SET RED READY";
        document.getElementById("setblueready").innerText = "SET BLUE READY"
});

</script>
{% endblock %}
