{% extends "screen_base.html" %}
{% block basecontent %}
  <body>

    <!-- workaround until the things are normalzed with routes and shit -->
<style> 
@font-face {
  font-family: DSEG14;
  src: url('static/DSEG14ModernMini-Bold.woff2') format('woff2');
}
</style>

    <div class="split left">
        <div class="timer" id="timer" style="width: 100%; height: 100%;">
            ---
        </div>
      </div>     

    <script>
        function setTimerString(timer_value) {
            document.getElementById("timer").innerHTML = timer_value;
            textFit(document.getElementsByClassName('timer'), {alignHoriz: true, alignVert: true, maxFontSize: 999, widthOnly: true, detectMultiLine: false});
        };
        // sometimes there's a race condition for the font loading, so this may have to be reset after initial load.
        
        setTimerString("---");
    </script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();

    socket.on("timer_event", function(timer_data) {
        setTimerString(timer_data);
    });

    socket.on("timer_bg_event", function(timer_bg_color) {
        document.getElementsByClassName("split left")[0].style.backgroundColor = timer_bg_color;
    });
    

  addEventListener("resize", (event) => {
    textFit(document.getElementsByClassName('timer'), {alignHoriz: true, maxFontSize: 600, widthOnly: true, detectMultiLine: false});
});
</script>
  </body>
{% endblock %}