{% extends "screen_base.html" %}
{% block basecontent %}
 
<style>
    :root {
        --team-bg-color: {{team_color}};
    }

    body {
        font-family: GlacialIndifference;
        background-color:rgb(37, 37, 37);
        margin: 0; /* this prevents a small bleed on the screen I guess? */
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .timer {
        font-family: 'Space Mono';
        font-weight: 700;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .tophalf {
        width: 100%;
        max-height:100%;
        height:50%;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        overflow: hidden;
    }

    .bottomhalf {
        height:50vh;
    }

    /* CSS Button for teams to press */
    .fancybutton {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: clamp(1rem, 9cqi, 14rem);
        font-family: GlacialIndifference;
        font-weight: 700;
        width: 100%;
        height: 100%;
    }

    .buttons {
        height:50%; /* this ensures the button groups only use up half the screen real estate. */
    }

    .robot_name {
        background-color: white; 
        color: #111; 
        font-weight: bold;
    }

    .readyup { /* not yet used, unsure how to style best. */

    }
    </style>

<div class="tophalf">
    <div class="timer" id="timer">
        000
    </div>
  </div>

  <div class="bottomhalf">
        <div class="buttons">
            <button id="robot_name_button" class="fancybutton robot_name"></button>
            <button id="readybutton" onclick="ready()" class="fancybutton readyup">MARK READY</button>
        </div>
</div>


<script type="text/javascript" charset="utf-8">

    
var cageID = {{ cageID }};
var team_color_name = "{{ team_color_name }}";

function ready() {
    socket.emit('player_ready', {'playerColor': "{{ team_color_name }}", "cageID": cageID });
    document.getElementById("readybutton").innerText = "READIED";
}

function setTimerString(timer_value) {
    document.getElementById("timer").innerHTML = timer_value;
    textFit(document.getElementsByClassName('timer'), {alignHoriz: true, maxFontSize: 600, widthOnly: true, detectMultiLine: false});
};


socket.on('connect', function() {
    setTimerString("000"); // should fix broken scaling for only loading once the window is rendered otherwise.  Yipee?  

    socket.emit("join_cage_request", {'cage_id': cageID });
    socket.emit('client_attests_existence', {'location': window.location.href});
});


socket.on("timer_event", function(timer_data) {
    setTimerString(timer_data);
});

socket.on("timer_bg_event", function(timer_bg_color) { //used for eSTOP only?
    console.log(timer_bg_color)
        document.getElementsByTagName("body")[0].style.backgroundColor = timer_bg_color.color;
    });

socket.on("reset_screen_states", function() {
    document.getElementById("readybutton").innerText = "MARK READY";
    document.getElementById("robot_name_button").innerText = "";
});

// basically all the same as above. 
socket.on("control_player_ready_event", function(shit_ingst) {
    if (shit_ingst['playerColor'] == team_color_name) {
        document.getElementById("readybutton").innerText = "READY";
        document.getElementById("robot_name_button").innerText = "";
    }
});

socket.on("robot_match_share_name", function(colors) {
if (colors[0] == team_color_name) {
    document.getElementById("robot_name_button").innerText = colors[1];
}
});


</script>
{% endblock %}
